<h1>Word Checker</h1>

<p>Enter text into the two input fields below to check the second input for instances of the first.</p>

<form action="/" method="post">
  <label for="first-input">Enter first text here:</label>
  <input type="text" name="first-input" id="first-input">
  <label for="second-input">Enter second text here:</label>
  <input type="text" name="second-input" id="second-input">
  <button type="submit" name="button">Submit</button>
</form>
